$white: #fff;
$primary-color: #F1EFEA;
$dark-beige: rgb(226, 224, 219);
$light-gray: #dcdcdc;
$gray: #6a6a6a;
$dark-gray: #555;
$dark: #3a3a3a;
$orange: #FFB444;
$green: #FFB444;
$black: #010101;
// $orange: #FFB444;
// $green: #493af0;